h1,
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

p {
    font-size: 14px;
    color: hsl(0, 0%, 50%);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 650px;
}

/* aside */
aside {
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    background-image: linear-gradient(hsl(243, 87%, 12%),hsl(244, 37%, 55%));
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 95vh;
    /* order: 1; */
}

aside img {
    display: flex;
    max-width:60%;
    height:60%;
    justify-content: center;
    align-items: center;
}
/* end aside */

/* article */
article {
    display: flex;
    flex-direction: column;
    flex: 55%;
    width: 580px;
    height: 95vh;
}

nav {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    padding-left: 7%;
    padding-top: 5%;
    /* order: 2; */
}

nav img {
    display: flex;
    justify-content: flex-start;
    padding-right: 68%;
    height: 20px;
    width: auto;
}

nav i {
    padding-right: 20px;
}

.description {
    display: flex;
    flex-direction: column;   
    padding: 25% 7% 25% 7%;
    /* order: 4; */
    /* border: 2px solid red; */
}

input {
    height: 40px;
    width: 260px;
    box-shadow: 2px 2px 2px hsl(0, 1%, 77%);
    border: 0;
    border-radius: 5px;
    margin-right: 10px;
    /* order: 5; */
}

button {
    height: 42px;
    width: 140px;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px hsl(0, 1%, 77%);
    background: hsl(163, 95%, 43%);
    color: white;
    /* order: 6; */
}

.privacy {
    display: flex;
    font-size: 12px;
    padding-left: 80%;
    /* order: 7; */
}
/* end article */

footer {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
    /* order: 8; */
}

/* responsive screen sizing */
  @media only screen and (max-width: 375px) {
    aside {
        background: white;
        background-image: url(images/bg-intro.svg);
        /* height: 50vh; */
    }
    aside img {
        height: 30%;
        width: 30%;
    }
    nav {
        
    }
    nav img {
        padding-right: 48%;
    }
    .privacy {
        padding-left: 70%;
    }
  }